@using HackPSU_2016.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


@using(Html.BeginForm("Login","Account",new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post,new { @class = "form-horizontal",role = "form" })) {
@Html.AntiForgeryToken()
<div class="row UserForm">
    <div class="two columns">&nbsp;</div>
    <div class="eight columns">
        <div class="row FormHeader">
            <h2>Log in</h2>
        </div>
        <div class="FormRow ErrorMessage">
            @Html.ValidationSummary("",new{@class="text-danger"})
        </div>
        <div class="row FormRow">
            <div>
                @*@Html.LabelFor(m => m.UserName,new {})*@
                @Html.TextBoxFor(m => m.UserName,new { @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserName,"",new { @class = "ErrorMessage" })
            </div>
        </div>
        <div class="row FormRow">
            <div>
                @*@Html.LabelFor(m => m.Password,new { })*@
                @Html.PasswordFor(m => m.Password,new { @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password,"",new { @class = "ErrorMessage" })
            </div>
        </div>
        <div class="row FormRow">
            @Html.CheckBoxFor(m=>m.RememberMe)
            @Html.LabelFor(m=>m.RememberMe)
        </div>
        <div class="row FormRow">
            <button type="submit">Log In</button>
        </div>
        <div class="row BottomLinks">
            <div class="twelve columns">
                <a href="@Url.Action("Register","Account")">Register as a new user</a>
                <a href="@Url.Action("ForgotPassword","Account")">Forgot password?</a>
            </div>
        </div>
    </div>
    <div class="two columns">&nbsp;</div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}