@model HackPSU_2016.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@using(Html.BeginForm("Register","Account",FormMethod.Post,new { @class = "form-horizontal",role = "form" })){
    @Html.AntiForgeryToken()
    <div class="row UserForm">
        <div class="two columns">&nbsp;</div>
        <div class="eight columns">
            <div class="row FormHeader">
                <h2>Create Account</h2>
            </div>
            <div class="FormRow">
                @Html.ValidationSummary("",new{@class="text-danger"})
            </div>
            <div class="row FormRow">
                <div>
                    @Html.TextBoxFor(m => m.UserName,new { @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.UserName,"",new { @class = "ErrorMessage" })
                </div>
            </div>
            <div class="row FormRow">
                <div>
                    @Html.TextBoxFor(m => m.Email,new { @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email,"",new { @class = "ErrorMessage" })
                </div>
            </div>
            <div class="row FormRow">
                <div>
                    @Html.PasswordFor(m => m.Password,new { @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password,"",new { @class = "ErrorMessage" })
                </div>
            </div>
            <div class="row FormRow">
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword,new { @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword,"",new { @class = "ErrorMessage" })
                </div>
            </div>
            <div class="row FormRow">
                <button type="submit">Register</button>
            </div>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}