@model HackPSU_2016.Models.ApplicationUser

@{
    ViewBag.Title = "Profile - " + Model.UserName;
}

<h2>Details</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playstyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playstyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunicationsPlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunicationsPlatform)
        </dd>
    </dl>
</div>

@if(User.Identity.Name == Model.UserName){
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
}
